<% if turbo_frame_request? %>
  <%= turbo_frame_tag "modal_content" do %>
    <%= render(ModalComponent.new(size: :lg, body_class: "text-body")) do %>
      <div class="p-6 space-y-4 sm:p-8">
        <%= yield :form_block %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <section class="bg-neutral-primary-soft">
    <div class="mx-auto grid min-h-screen max-w-screen-xl px-4 py-8 lg:grid-cols-12 lg:gap-20 lg:py-16">
      <div class="w-full place-self-center lg:col-span-6">
        <div class="mx-auto max-w-lg rounded-base border border-default bg-neutral-primary p-4 shadow-xs sm:p-6">
          <%= link_to root_path, class: "mb-4 inline-flex items-center text-xl font-semibold text-heading sm:mb-6" do %>
            <span class="me-2 flex h-8 w-8 items-center justify-center rounded-base bg-brand text-sm font-bold text-white">
              <%= TemplateBase.config.application_name.first %>
            </span>
            <%= TemplateBase.config.application_name %>
          <% end %>

          <%= yield :form_block %>
        </div>
      </div>

      <div class="hidden place-self-center lg:col-span-6 lg:flex">
        <%= image_tag content_for(:auth_illustration).presence || "sign-in.svg",
              class: "mx-auto max-h-[32rem]",
              alt: "" %>
      </div>
    </div>
  </section>
<% end %>
